@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
  padding: 0;
}

.mantine-Grid-inner {
  margin: 0 !important;
}
.mantine-Grid-col {
  padding: 0 !important;
}
.mantine-TextInput-section {
  padding-right: 16px;
}
.mantine-active{
  margin-right: 16px;
}
.mantine-PasswordInput-innerInput{
   border: none !important;
}
.__m__-rpd{
  gap: 0;
}